<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55435223206-fj77a1fbv1e8tfmjk19ilgjhgc59njdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55435223206-fj77a1fbv1e8tfmjk19ilgjhgc59njdd</string>
	<key>API_KEY</key>
	<string>AIzaSyDnXDNgbO3fH5waFjBm1o7V3QCYsfiqybg</string>
	<key>GCM_SENDER_ID</key>
	<string>55435223206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seniorDesign.myapp</string>
	<key>PROJECT_ID</key>
	<string>seniordesigngyroscope</string>
	<key>STORAGE_BUCKET</key>
	<string>seniordesigngyroscope.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55435223206:ios:157ec7b9643a5b14a7d467</string>
</dict>
</plist>