<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368921194280-ikl21rnkod907bvirq5g57cpu05sa00q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368921194280-ikl21rnkod907bvirq5g57cpu05sa00q</string>
	<key>API_KEY</key>
	<string>AIzaSyAPL9CHU8HPQDo5Z21I94dgfwktp-jaXV0</string>
	<key>GCM_SENDER_ID</key>
	<string>368921194280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seniorDesign.myapp</string>
	<key>PROJECT_ID</key>
	<string>senior-design-3810b</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-design-3810b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368921194280:ios:9846839be453a42e86ea1d</string>
	<key>DATABASE_URL</key>
	<string>https://senior-design-3810b-default-rtdb.firebaseio.com</string>
</dict>
</plist>