# General
.DS_Store
*.icloud

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version
*.pyc

# SQLite
*.db

# Grading Scripts
grader.sh
solution.py
